http_interactions:
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&request=GetCapabilities
  response:
    status: 200
    headers:
      content-type: application/xml
      content-disposition: inline; filename=geoserver-GetCapabilities.application
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><wcs:Capabilities xmlns:wcs="http://www.opengis.net/wcs/2.0"
        xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0.1" updateSequence="9738"
        xmlns:int="http://www.opengis.net/WCS_service-extension_interpolation/1.0"
        xmlns:crs="http://www.opengis.net/wcs/crs/1.0" xmlns:inspire_common="http://inspire.ec.europa.eu/schemas/common/1.0"
        xmlns:inspire_dls="http://inspire.ec.europa.eu/schemas/inspire_dls/1.0" xsi:schemaLocation="
        http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsGetCapabilities.xsd
        http://inspire.ec.europa.eu/schemas/inspire_dls/1.0 https://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd"><ows:ServiceIdentification><ows:Title>Web
        Coverage Service</ows:Title><ows:Abstract>This server implements the WCS specification
        1.0 and 1.1.1, it's reference implementation of WCS 1.1.1. All layers published
        by this service are available on WMS also.</ows:Abstract><ows:Keywords><ows:Keyword>WCS</ows:Keyword><ows:Keyword>WMS</ows:Keyword><ows:Keyword>GEOSERVER</ows:Keyword></ows:Keywords><ows:ServiceType>urn:ogc:service:wcs</ows:ServiceType><ows:ServiceTypeVersion>2.0.1</ows:ServiceTypeVersion><ows:ServiceTypeVersion>1.1.1</ows:ServiceTypeVersion><ows:ServiceTypeVersion>1.1.0</ows:ServiceTypeVersion><ows:Profile>http://www.opengis.net/spec/WCS/2.0/conf/core</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_protocol-binding_get-kvp/1.0.1</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_protocol-binding_post-xml/1.0</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_service-extension_crs/1.0/conf/crs-gridded-coverage</ows:Profile><ows:Profile><![CDATA[
        http://www.opengis.net/spec/WCS_geotiff-coverages/1.0/conf/geotiff-coverage]]></ows:Profile><ows:Profile>http://www.opengis[...]
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&coverageId=emodnet__vesseldensity_all&request=DescribeCoverage
  response:
    status: 200
    headers:
      content-type: application/xml
      content-disposition: inline; filename=geoserver-DescribeCoverage.application
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?><wcs:CoverageDescriptions xmlns:wcs="http://www.opengis.net/wcs/2.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:swe="http://www.opengis.net/swe/2.0" xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" xsi:schemaLocation=" http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsDescribeCoverage.xsd http://www.geoserver.org/wcsgs/2.0 https://ows.emodnet-humanactivities.eu/geoserver/schemas/wcs/2.0/wcsgs.xsd">
          <wcs:CoverageDescription gml:id="emodnet__vesseldensity_all">
            <gml:description>Generated from ImageMosaic</gml:description>
            <gml:name>Vessel Density Monthly totals - All types</gml:name>
            <gml:boundedBy>
              <gml:EnvelopeWithTimePeriod srsName="http://www.opengis.net/def/crs/EPSG/0/3857" axisLabels="X Y time" uomLabels="m m s" srsDimension="2">
                <gml:lowerCorner>-9763441.130289372 1684718.7349552144</gml:lowerCorner>
                <gml:upperCorner>1.086845880678606E7 2.28223599215428E7</gml:upperCorner>
                <gml:beginPosition>2017-01-01T00:00:00.000Z</gml:beginPosition>
                <gml:endPosition>2023-12-01T00:00:00.000Z</gml:endPosition>
              </gml:EnvelopeWithTimePeriod>
            </gml:boundedBy>
            <wcs:CoverageId>emodnet__vesseldensity_all</wcs:CoverageId>
            <gml:coverageFunction>
              <gml:GridFunction>
                <gml:sequenceRule axisOrder="+1 +2">Linear</gml:sequenceRule>
                <gml:startPoint>0 0</gml:startPoint>
              </gml:GridFunction>
            </gml:coverageFunction>
            <gmlcov:metadata>
              <gmlcov:Extension>
                <ows:Keywords>
                  <ows:Keyword>vesseldensity_all</ows:Keyword>
                  <ows:Keyword>WCS</ows:Keyword>
                  <ows:Keyword>ImageMosaic</ows:Keyword>
                </ows:Keywords>
                <ows:Metadata xlink:type="simple" xlink:href="https://ows.emodnet-humanactivities.eu/geonetwork/srv/eng/csw?service=CSW&amp;version=2.0.2&amp;request=GetRecordById&amp;elementsetname=full&amp;id=0f2f3ff1-30ef-49e1-96e7-8ca78d58a07c&amp;outputschema=http://www.isotc211.org/2005/gmd"/>
                <wcsgs:TimeDomain xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" default="2023-12-01T00:00:00.000Z">
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_0">
                    <gml:timePosition>2017-01-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_1">
                    <gml:timePosition>2017-02-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_2">
                    <gml:timePosition>2017-03-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:Time[...]
- request:
    method: GET
    uri: https://www.opengis.net/def/crs/EPSG/0/3857
  response:
    status: 200
    headers:
    body:
      raw_gzip: |-
        eJy1Vslu2zAQvRfoPwx0ag+WZMmrYCuHpAh6SGHEaHtmqZHMhuIQJL3k7wvS8pY2aYoiN3vm
        zXuchUP
        NrnathA0aK0jNo36cRoCKUyVUM4/Wru5Noqvy/btZ08piYegncofV9f0Sdq1UtthJ
        oR7m0co5XSTJdr
        uNt3lMpkn60+k0Cd6og6K2ntKoYtejRhdWIy8sX2HLejtbFZ8Wy9sii/Oi
        Yo5ZdBF4TVHNIx/Z48b28
        slwfKBrWnmhSxpVI2ys0CVNK5M8zqLy/TuAcPQWHbthji0MaTTu
        MXgAZp66uKa2JXXXQTrXwekeNZb6
        kPksORkvcUwKZoFThfNoOB2NovB7qRnHeTTO034EATKP
        vt8uYTKABBak15IZ+CbsmklhmROkYGFxXVH
        vDg1njkwEyQtK43Q0fkEJf8DzPELVZNoguqS1
        4VjeCW7IUu3iLs/fIZcUBjfCT84Nc1hmaZb20rzXH3
        TRF97LQL5iqkF7tF7aP99AGJ1iZbDe
        d9kWSSANw8W0SDb95DqAkyxNJ3G/P0hwp8m4q/2R500rz3P+P
        4X+IE7z/K0VhtmbKgzjdPSm
        OWRpnGbjlxW62Xg6AHtZu6Jt6cwaO1T4/2Rq7Q1qg5w5rMqaSXvAXjgu
        Y75a1uBvOeLOoXKv
        yvBTgCb5cPD3KfPrxnLSWPrr1zKthWqAqQo25/c8niUn5JPinJ+3M/1hR+0J/rj
        ZwiFEhcqJ
        WqA5XxB+zUal36T7+BPqFKlYi+VpTV0upH1YgBwDDLbMPNjyCzlgYJBTo4TFChqkCp3gYB
        +t
        wzaGrxYtWL1CIziTUOEGJenWN4JqQCmFtiQqJoETmUoo5tDGcI+SObFBcATHg30nI6vjgoMP
        /lny
        mUKeT4cfoREbtIDGkLGePI3HoNFwryUUWM4khr5Uoq7RoOJovUORcSvfM6phrb3iIH9o
        vcet0DcUPmT
        9hxZob2gMrVX1sevnoRLH0oQGdxMSDJxU996+7nId4Uk+GY6eH79A/oNZvO1q
        Hl7pVymQqe6xXoYWJY
        M8+5sKZ8ahFUxd/4PCgX4wnT5Hvy/h+WdG+QvXzczX
  recorded_at: 2025-09-05 12:14:20
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&coverageId=emodnet__vesseldensity_all&subset=X%28484177.9%2C1035747%29&format=image%2Ftiff&request=GetCoverage
  response:
    status: 200
    headers:
      content-type: image/tiff
      content-disposition: inline; filename=emodnet__vesseldensity_all.tif
    body:
      raw_gzip: |-
        eJztvQVcVsvaPvwQ0iXdUqICggKSa+575iFUVOzCxkJsxS4apKRBQJQUEBFRQhTFLgQDFQu7
        C7v102f
        /5d[...]
