http_interactions:
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&request=GetCapabilities
  response:
    status: 200
    headers:
      content-type: application/xml
      content-disposition: inline; filename=geoserver-GetCapabilities.application
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><wcs:Capabilities xmlns:wcs="http://www.opengis.net/wcs/2.0"
        xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0.1" updateSequence="10772"
        xmlns:int="https://www.opengis.net/wcs/interpolation/1.0" xmlns:crs="http://www.opengis.net/wcs/crs/1.0"
        xmlns:inspire_common="http://inspire.ec.europa.eu/schemas/common/1.0" xmlns:inspire_dls="http://inspire.ec.europa.eu/schemas/inspire_dls/1.0"
        xsi:schemaLocation=" http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsGetCapabilities.xsd
        http://inspire.ec.europa.eu/schemas/inspire_dls/1.0 https://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd"><ows:ServiceIdentification><ows:Title>Web
        Coverage Service</ows:Title><ows:Abstract>This server implements the WCS specification
        1.0 and 1.1.1, it's reference implementation of WCS 1.1.1. All layers published
        by this service are available on WMS also.</ows:Abstract><ows:Keywords><ows:Keyword>WCS</ows:Keyword><ows:Keyword>WMS</ows:Keyword><ows:Keyword>GEOSERVER</ows:Keyword></ows:Keywords><ows:ServiceType>urn:ogc:service:wcs</ows:ServiceType><ows:ServiceTypeVersion>2.0.1</ows:ServiceTypeVersion><ows:ServiceTypeVersion>1.1.1</ows:ServiceTypeVersion><ows:ServiceTypeVersion>1.1.0</ows:ServiceTypeVersion><ows:Profile>http://www.opengis.net/spec/WCS/2.0/conf/core</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_protocol-binding_get-kvp/1.0.1</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_protocol-binding_post-xml/1.0</ows:Profile><ows:Profile>http://www.opengis.net/spec/WCS_service-extension_crs/1.0/conf/crs-gridded-coverage</ows:Profile><ows:Profile><![CDATA[
        http://www.opengis.net/spec/WCS_geotiff-coverages/1.0/conf/geotiff-coverage]]></ows:Profile><ows:Profile>http://www.opengis[...]
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&coverageId=emodnet__vesseldensity_all&request=DescribeCoverage
  response:
    status: 200
    headers:
      content-type: application/xml
      content-disposition: inline; filename=geoserver-DescribeCoverage.application
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?><wcs:CoverageDescriptions xmlns:wcs="http://www.opengis.net/wcs/2.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:swe="http://www.opengis.net/swe/2.0" xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" xsi:schemaLocation=" http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsDescribeCoverage.xsd http://www.geoserver.org/wcsgs/2.0 https://ows.emodnet-humanactivities.eu/geoserver/schemas/wcs/2.0/wcsgs.xsd">
          <wcs:CoverageDescription gml:id="emodnet__vesseldensity_all">
            <gml:description>Generated from ImageMosaic</gml:description>
            <gml:name>Vessel Density Monthly totals - All types</gml:name>
            <gml:boundedBy>
              <gml:EnvelopeWithTimePeriod srsName="http://www.opengis.net/def/crs/EPSG/0/3857" axisLabels="X Y time" uomLabels="m m s" srsDimension="2">
                <gml:lowerCorner>-9763441.130289372 1684718.7349552144</gml:lowerCorner>
                <gml:upperCorner>1.086845880678606E7 2.28223599215428E7</gml:upperCorner>
                <gml:beginPosition>2017-01-01T00:00:00.000Z</gml:beginPosition>
                <gml:endPosition>2024-12-01T00:00:00.000Z</gml:endPosition>
              </gml:EnvelopeWithTimePeriod>
            </gml:boundedBy>
            <wcs:CoverageId>emodnet__vesseldensity_all</wcs:CoverageId>
            <gml:coverageFunction>
              <gml:GridFunction>
                <gml:sequenceRule axisOrder="+1 +2">Linear</gml:sequenceRule>
                <gml:startPoint>0 0</gml:startPoint>
              </gml:GridFunction>
            </gml:coverageFunction>
            <gmlcov:metadata>
              <gmlcov:Extension>
                <ows:Keywords>
                  <ows:Keyword>vesseldensity_all</ows:Keyword>
                  <ows:Keyword>WCS</ows:Keyword>
                  <ows:Keyword>ImageMosaic</ows:Keyword>
                </ows:Keywords>
                <ows:Metadata xlink:type="simple" xlink:href="https://ows.emodnet-humanactivities.eu/geonetwork/srv/eng/csw?service=CSW&amp;version=2.0.2&amp;request=GetRecordById&amp;elementsetname=full&amp;id=0f2f3ff1-30ef-49e1-96e7-8ca78d58a07c&amp;outputschema=http://www.isotc211.org/2005/gmd"/>
                <wcsgs:TimeDomain xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" default="2024-12-01T00:00:00.000Z">
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_0">
                    <gml:timePosition>2017-01-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_1">
                    <gml:timePosition>2017-02-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="emodnet__vesseldensity_all_td_2">
                    <gml:timePosition>2017-03-01T00:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:Time[...]
- request:
    method: GET
    uri: https://www.opengis.net/def/crs/EPSG/0/3857
  response:
    status: 200
    headers:
    body:
      raw_gzip: |-
        eJy1Vsty2zoM3ecrMFq1C0uy5KfGVhZJJ3MXueOJp7drloRk3lAEh6Qf+fsOJTmx2qZNp5Od
        BRzgAAR
        46NX1qVFwQOsk6XU0jtMIUHMSUtfraO+r0SK6Lq9WdaOKjaX/kXsUNw9bODVKuwKN
        CzCri9OIalM4g7
        xwfIcNG52cKD5ttndFFueFYJ459FEfd1JSP66jnfemSJLj8Rgf85hsnYyX
        y2XSeiMInFKso0Ay4taN8
        sV0fs5QN2oQTwZ1LV2s0Sd1o5I8zqLyCqCtvEHPbplnG0sGrX8K
        DoBVSFzcUNOQvu8Rnefs808GS3Nu
        e5W8GAcwpiRzwEngOpouZ7Oo/b01jOM6mufpOIIWso6+
        3G1hMYEENmT2iln4T7o9U9IxL0nDxuFe0Og
        eLWeebATJ60TzdDb/BRF+hVfTSF2RbVrKLe0t
        x/JeckuOKh/3Tf4IGWSweJBhY26ZxzJLs3SU5qPxpA
        8eeAdxfMd0je5sHJr/uYV28sXOYtUN
        1xVJm7LdDWZkchgnNy04ydJ0EY/HkwRPhqy/7upd14266PfvC
        MaTOM3zdyaYZu9JMI3T2Xt2
        kKVxms1/SdAvxXej70jdjo6lt3vsQe33cFfdLRqLnHkUZcWUO0MHjkHI
        Z8dq/L49PHnU/k3N
        fWqhST6d/Ha5grg4TgbLcOEaZozUNTAt4HB5seNV8oIcHstFsb3lR0Hqon8mYm0
        BUqD2spJo
        L+UgSG9UBsnswl9Qz4GaNVi+SNJQfLqoFnLGW2yYfXTlv+SBgUVOtZYOBdRIAr3k4J6cxy
        aG
        zw4dOLNDKzlTIPCAikwTJkAVoFLSOJKCKeBEVkjNPLoYHlAxLw8InuC5ri9klXgWM/gQXp/Q
        J+T5
        cvoRanlAB2gtWReSp/EcDFoeuKQGx5nCdiJCVhVa1BxdcGiyfhemRRXsTWCc5I9N8Pgd
        hlHCh2z82AB
        1htrSXouP/STPJ3F1uQPdZrTfnHT/pr7tOj3Dk3wxnb26dW3ur8zhXX/g7Uv8
        JgKy4gGrbTufZJJnvy
        HhzHp0kumbPyA4Z58sl69k707v8o9E+Q3rFstE
  recorded_at: 2026-09-11 10:43:14
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&coverageId=emodnet__vesseldensity_all&subset=X%28467541.9%2C979611.5%29&format=image%2Ftiff&request=GetCoverage
  response:
    status: 200
    headers:
      content-type: image/tiff
      content-disposition: inline; filename=emodnet__vesseldensity_all.tif
    body:
      raw_gzip: |-
        eJzsvQdYVUnarr3JQckZQRCRKCgCkna971ubYEZFQTEgZkVMmBWVnLOIJBFUFBFQUcCAihkT
        JhRzxIw
        55[...]
- request:
    method: GET
    uri: https://ows.emodnet-humanactivities.eu/wcs?service=WCS&version=2.0.1&coverageId=emodnet__vesseldensity_all&subset=X%28-13358339%2C-13247019%29&format=image%2Ftiff&request=GetCoverage
  response:
    status: 404
    headers:
      content-type: application/xml
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?><ows:ExceptionReport xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0.0" xsi:schemaLocation="http://www.opengis.net/ows/2.0 http://schemas.opengis.net/ows/2.0/owsExceptionReport.xsd">
          <ows:Exception exceptionCode="InvalidSubsetting" locator="">
            <ows:ExceptionText>Empty intersection after subsetting</ows:ExceptionText>
          </ows:Exception>
        </ows:ExceptionReport>
  recorded_at: 2026-09-11 10:43:15
recorded_with: VCR-vcr/2.1.0
